<div class="container position-relative" style="left: 34%;top: 70% ;max-width: 1000px">
    <a href="/game/waitGame" type="button" name="play game" id="btnPlayGame" class="btn btn-primary btn-lg w-25 mb-3 d-block text-white">Play Game</a>
    <a href="" type="button" name="history" id="btnHistory" class="btn btn-danger btn-lg w-25 mb-3 d-block text-white">History</a>
    <a href="" type="button" name="help" id="btnHelp" class="btn btn-light btn-lg w-25 mb-3 d-block text-white">Help</a>
    <a href="" type="button" name="info" id="btnInfo" class="btn btn-info btn-lg w-25 mb-3 d-block text-white">Info</a>
</div>
{{#section 'js'}}
<script src="/js/homejs.js"></script>
{{/section}}