<div class="container position-relative" style="left: 37%;top:60%;max-width: 1000px">
    <button type="button" name="" id="" class="btn btn-primary btn-lg w-25 mb-1 d-block">Play Game</button>
    <button type="button" name="" id="" class="btn btn-danger btn-lg w-25 mb-1 d-block">History</button>
    <button type="button" name="" id="" class="btn btn-light btn-lg w-25 mb-1 d-block">Help</button>
    <button type="button" name="" id="" class="btn btn-info btn-lg w-25 mb-1 d-block">Info</button>
</div>