<div class="p-4 d-flex flex-wrap" id="main">
    <div class="card bg-light mr-5 mb-5" style="max-width: 200px">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px; max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div>
    <div class="card bg-light mr-5 mb-5" style="max-width: 200px;">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px;max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div>
    <div class="card bg-light mr-5 mb-5" style="max-width: 200px;">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px;max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div>
    <div class="card bg-light mr-5 mb-5" style="max-width: 200px;">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px;max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div>
     <div class="card bg-light mr-5 mb-5" style="max-width: 200px;">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px;max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div>
     <div class="card bg-light mr-5 mb-5" style="max-width: 200px;">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px;max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div>
     <div class="card bg-light mr-5 mb-5" style="max-width: 200px;">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px;max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div>
     <div class="card bg-light mr-5 mb-5" style="max-width: 200px;">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px;max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div>
     <div class="card bg-light mr-5 mb-5" style="max-width: 200px;">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px;max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div> <div class="card bg-light mr-5 mb-5" style="max-width: 200px;">
        <img class="card-img-top m-2" src="/img/user/avatar1.png" alt="nhân vật" style="width:170px;max-height:150px">
        <div class="card-body">
            <p class="card-text">nick name</p>
        </div>
    </div>

    
</div>

{{#section 'js'}}
<script src="/js/waitGamejs.js"></script>
{{/section}}