body{
    padding: 0;
    margin:0;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #495057;
}
/* Main */
#mainID{
    padding: 0 !important;
    margin: 0;
    max-width: 1200px;
}

/*Background home*/
#homeBackground{
    position: fixed;
    padding :0;
    margin :0;
    width: 1367px;
    height: 625px;
    -webkit-transform: scale(0.999);
    transform: scale(0.999);
    image-rendering: auto;
}

/* right home*/
.clsRightHome{
    position: fixed;
    right:0;
    left:auto;
    background-color: #252e38;
    color: white;
    font-size: 5px;
}

#rightHomeMini{
    max-width: 42px; 
    padding: 0;
    
    display: none;
}

#myAccount{
    transition-delay: 0.1s;
    border-bottom : 1px solid #f2bb13;
}

#myAccount:hover{
    opacity: 0.7;
    cursor: pointer;
}
#myAvartar{
    background-color: white;
    width: 40px;
    height: 40px;
}

/*search friend*/
.search{
    width:85%;
    height: 35px;
    border-radius: 15px;
    font-size: 12px;
    padding-left: 5px;
    font-weight: 500;
   
}

#iconSearch{
    color:#f2bb13;
}

#iconSearch:hover{
    color: rgba(242,187,19,.7);
}


/*List Friend*/
#listFriend{
    padding: 0px;
    max-height: 68%;
    overflow:scroll;
    overflow-x: hidden;
}

#member{
    transition-delay: 0.1s;
}
#member:hover{
    opacity: 0.8;
    cursor: pointer;
}
#online-status{
    color: green;
}
#friendAvartar{
    background-color: white;
    width:40px;
    height: 40px;
}

.btnHideShow{
    position: absolute;
    top: 90%;
}