.allMess{
    height: 82%;
    width: 85%;
}
#contentChat{
    
}
#typeChat{
    width: 85%;
}
#chat{
    background-color: #363e48;
    height: 700px;
    width: 30%;
    position: fixed;
    top:0;
    right:0%;
    left:auto;
    padding: 20px;
}
#actor{
    position: absolute;
    left: 40%;
    top: 20%;
}
.display{
    display: flex;
    flex-wrap: wrap;
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding:4px;
}
.mycard{
    background-color: #f8f9fa;
    height: 260px;
    width: 200px;
    border-radius: 10px;
    border: solid 1px #464d56;
    box-shadow: 10px;
    padding: 6px 10px;
    margin-right: 70px;
    margin-top: 40px;
}

.nickName{
    margin-top: 30px;
    padding: 5px 0px;
    text-align: center;
}

.myCardImg{
    width: 170px;
    max-height:150px;
}