/*Clock */
#clock{
    background-color: white;
    padding: 2px;
    width: 100px;
    position: fixed;
    top:2%;
    left:2%;
    right: auto;
    text-align: center;
    border-radius: 5px;
}
/**/

/*Chat*/
.allMess{
    height: 82%;
    width: 85%;
}
#contentChat{
    
}
#typeChat{
    width: 85%;
}
#chat{
    background-color: #363e48;
    height: 700px;
    width: 30%;
    position: fixed;
    top:0;
    right:0%;
    left:auto;
    padding: 20px;
}

/*Ability*/
#ability{
    opacity: 0.4;
}

/*Notify*/
#notify{
    background-color: #252e38;
    color: #f2bb13;
    font-weight: bolder;
    font-size: 50px;
    position: absolute;
    top:35%;
    padding: 5px;
    display:none;
}


/* Display Actor of user*/
#actor{
    display: none;
    position: absolute;
    left: 40%;
    top: 20%;
}
.display{
    display: flex;
    flex-wrap: wrap;
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding:4px;
}
.mycard{
    background-color: #f8f9fa;
    height: 260px;
    width: 200px;
    border-radius: 10px;
    border: solid 1px #464d56;
    box-shadow: 10px;
    padding: 6px 10px;
    margin-right: 70px;
    margin-top: 40px;
}

.nickName{
    margin-top: 30px;
    padding: 5px 0px;
    text-align: center;
}

.myCardImg{
    width: 170px;
    max-height:150px;
}

.btnClickPlayer{
    background-color: #f2bb13;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    margin: 0 0 5px 32px;
}
